<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <img class="about-image" src="/img/me.png" alt="">
    <p>This website was created by Shiva.It uses data from mapbox.com and darksky.net</p>
    </div>
    
    {{>footer}}
</body>
</html>