<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this to get weather</p>

    <form>
        <input type="text" name="bar" id="search bar" placeholder="enter location">
        <button>Search</button>
    </form>

    <p id="message-one"></p>
    <p id="message-two"></p>
    </div>
    
    {{>footer}}

    <script src=/js/app.js></script>
</body>

</html>